 * {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	background: #f0f0f0;
	font: 14px/20px Arial, San-Serif;
	color: #000;
	margin: 0;
}
h1 {
	text-align: center;
	font-size: 180%;
	//line-height: 120%;
	//padding: 5% 0;
	color: #01466e;
}
h2 {
	//text-decoration: underline;
	line-height: 280%;
	padding-left: 2%;
	color: #01466e;
}
h3 {
	line-height: 110%;
	padding: 5% 0;
}
p {
	padding: 1%;
}
img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
	
}
a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
}
header {
	background: #01466e;
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.90;
}
#logo {
	margin: 0px;
	float: left;
	width:282px;
	height: 86px;
	background: url(../images/glottalNewLogo.png) no-repeat center;
}
nav {
	float: right;
	padding: 35px 20px 20px 0;
}
#menu-icon {
	display: hidden;
	width: 160px;
	height:80px;
	background: url(../images/menu_icon.png) no-repeat center;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	float: left;
	//padding: 10px;
}
/*.current {
	color: #FFF;
	text-decoration: underline;
}*/
#doc {
	margin: 40px 0;
}
#content {
	margin: 0 auto;
	max-width: 1140px;
	margin-top: 110px;
}
.blueberry {
	max-width: 960px;
	margin-top: 110px;
}
section{
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
.clear {
	clear: both;
}
article {
	float: left;
	//margin: 0 auto;
	width: 230px;
	height: auto;
	padding: 4%;
}
/*
aside {
	float: right;
	//margin: 0 auto;
	//width: 70%;
	height: auto;
	//padding: 3%;
}
*/
ul.gym li{
	//padding-left: 3%;
}
footer {
	background: #01466e;
	width: 100%;
	overflow: hidden;
	opacity: 0.90;
	text-align: center;
	color: #fff;
}
footer p, footer h3 {
	color: #FFF;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}
a.cta {
	color: #01466e;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	margin: .5em 0 0 0;
	padding: 0px 12px 0px 0px;
	background: url(../images/cta_arrow.png) no-repeat right 0px;
	}
a.cta:hover {background-position: right -50px; color: #009eff;}
ul.social li {
	display: inline;
}
ul.social li img {
	height: 50px;
}
footer.second {
	border-top: 1px solid #01466e;
	background-color: #01466e;
	max-height: 50px;
	text-align: center;
	opacity: 0.95;
}
div.welcome {
	max-width:1800px;
}



/*Style for menu links*/
.only-nav>li{
	padding: 0px 0px 0px 0px;
}
.only-nav li a {
	display:block;
	min-width:80px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*color: #fff;*/
	/*background: #2f3036;*/
	text-decoration: none;
}
li:hover a {
	background: #7ab1d0;
	color: #000;
}
/*Style for dropdown links*/
li:hover ul a {
	background: #01466e;
	color: #fff;
	height: 40px;
	line-height: 40px;
	width: 275px
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	display: block;
	background: #7ab1d0;
	color: #000;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	//width: auto;
	//max-width: 150px;
	//padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #7ab1d0;
	text-align: center;
	padding: 10px 0;
	display: none;
	width: 235px;
	float: right;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

 /* for pages other than index.html: For but not limited to Aeroview.html */
.header_sec {
	float:left;
	background-color:#f0f0f0;
	width:100%;
	height:300px;
	margin: 90px 0px 0px 0px;
}

.Breadcrumbs {
	float:left;
	width:100%;
	height:30px;
}

#breadcrumbs-one{
  background: #f0f0f0;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0 0 2px #f0f0f0;
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-one li{
  float: left;

}

#breadcrumbs-one a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color:#dddddd;
  background-image: linear-gradient(to right, #f5f5f5, #dddddd);  

}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a:hover{
  background: #fff;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #ddd;  
}

#breadcrumbs-one a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs-one a:hover::after{
  border-left-color: #fff;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  content: normal;  
}

/* format of the tabs*/
.tab { display: inline-block; zoom:1; *display:inline; font-family:Arial; font-size:12px; border: solid 1px #999; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 12px; line-height: 2em; display: block; padding: 0 10px; outline: none; color:#333;}
.tab a:hover { text-decoration: underline;  }
.tab.active {   position: relative; top: 1px; border-color: #666; background-color:#01466e; color:#FFF;  }
.tab a.active { font-weight: bold;  color:#FFF; }
.tab-container .panel-container { background: #fff; border:solid #666 1px; margin-left:5px; padding-left:10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }


    .tab-container {
    background: #fff;
    border: 1px solid #dedbd1;
	padding-left:10px;
	padding-top:10px;
	line-height:180%;
	border-radius:10px;
	margin-top:5px;
	
    }

    .tab-container li {
    list-style-image: url("star.png");
    margin-left: 0px;
    }

#features { padding:15px; color:#333;}	
#spec { padding:15px; color:#333;}	
#comp_sw { padding:15px;}	
#acc { padding:15px;}	
#oro { padding:15px;}	
#res { padding:15px;}	
#demo { padding:15px;}	
#faq { padding:15px;}	
#gal { padding:15px;}	


.product_content {float:left; margin-top:30px; width:100%; height:Auto; font-family:Arial; line-height:150%; color:#333;background-color:#FFF;}

table, th, td {
    border: 1px solid black;
}
/* for hovering glossary */
a.tip {
    color: green;
    text-decoration: none
}
a.tip:hover {
    cursor: help;
    position: relative
}
a.tip span {
    display: none
}
a.tip:hover span {
	color: black;
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 120px;
    position: absolute;
    top: 10px;
    text-decoration: none
}
/* format heading of each tab content */
.tabs_heading
{
	color: #467527;
	font-family: Franklin_Gothic_Book;
	font-size: 29px;
	margin-bottom: 20px;
	margin-top: 10px;
	font-weight: 900;
	margin-left: 0px;
}

figure {
	width: 100%;
    max-width: 750px;
    height: auto;
}
figure>image {
	align-content: center;
}
span.youtube_videos {
	width: 50%;
	max-width: 420px;
}
/*----------------------MEDIA!!!-------------------------------*/
@media screen and (max-width: 578px) {
	body {
		position: absolute;
	}
	.welcome {
		padding: 350px 0px 0px 0px;
	}
	.show-menu {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-decoration: none;
		color: #fff;
		background: #7ab1d0;
		text-align: center;
		padding: 15px 0px 0px 0px;
		display: none;
		width: 50px;
	}
	nav {
		padding: 50px 0px 0px 0px;
	}
	#logo {
	margin: 0px;
	float: left;
	width:194px;
	height: 86px;
	background: url(../images/glottalNewLogoPhone.png) no-repeat center;
	}
}
@media screen and (max-width: 1300px) {
	header {
		position: absolute;
	}
	#menu-icon {
		/*display: inline-block;*/
		position: absolute;
		padding: 0px 0px 0px 0px;
		//top: 3px;
		//right: 5px;
	}
	nav>ul {
		display: none;
		position: absolute;
		//padding: 20px;
		background: #405580;
		//border: 1px solid #FFF;
		right: 0px;
		top: 83px;
		width: 350px;
		//border-radius: 2px 0 2px 2px;
	}
	nav>ul>li {
		display: block;
		text-align: center;
		width: 350px;
		padding: 0px 0;
		margin: 0;
	}
	/*
	nav>ul>li:active>ul {
		display: none;
		position: absolute;
		//padding: 20px;
		background: #405580;
		//border: 1px solid #FFF;
		right: 0px;
		top: 83px;
		width: 350px;
		//border-radius: 2px 0 2px 2px;
	}
	*/
	li:hover a {
		background: #7ab1d0;
		color: #000;
	}
	/*Style for dropdown links*/
	li:hover>ul a {
		background: #01466e;
		color: #fff;
		height: 40px;
		line-height: 40px;
		width: 350px;
		text-align: center;
	}
	li:hover>ul {
		top: 143px;
	}
	/*Hover state for dropdown links*/
	li:hover>ul a:hover {
		display: block;
		background: #7ab1d0;
		color: #000;
	}
	/*
	nav:active ul>li>ul{
		display: none;
		position: absolute;
		//padding: 20px;
		background: #405580;
		//border: 1px solid #FFF;
		right: 0px;
		top: 83px;
		width: 250px;
		//border-radius: 2px 0 2px 2px;
	}
	*/
	/*
	nav:active>ul>li {
		display: block;
	}
	*/
	section {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	article {
		float: left;
		width: 230px;
		margin: 0;
		padding: 10px;
	}
	/*
	aside {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	*/
	/*Make dropdown links appear inline*/
	//ul {
	//	position: static;
	//	display: none;
	//}
	///*Create vertical spacing*/
	//li {
	//	margin-bottom: 1px;
	//}
	///*Make all menu links full width*/
	///*
	//ul li, li a {
	//	width: 100%;
	//}
	//*/
	//li a {
	//	width: 235px;
	//}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
	
	
}

